/* TYPES */

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  flex: 1 0 123.5px;
}

a {
  text-decoration: none;
  padding: 8px;
  color: #F9FAF8;
}

h6,
p {
  margin: 0;
}

/* CLASSES */

.header {
  width: 100%;
  display: flex;
  background-color: #1F2937;
  color: #F9FAF8;
  justify-content: space-around;
}
 
.links {
  display: flex;
  justify-content: space-between;
}

.body {
  display: flex;
  background-color: #1F2937;
  color:#F9FAF8;
  padding: 32px;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 1 500px;
}

.button {
  max-width: 100px;
  margin: 8px;
  padding: 6px;
  background-color: #3882F6;
  color:#F9FAF8;
  font-weight: bold;
  border-radius: 4px;
  border-style:none;
}

.buddymain {
  height: 300px;
  width: auto;
}
.hero {
  font-size: 48px;
  color:#F9FAF8;
  font-weight:bolder;
  margin: 0 8px 0px 8px;
}

.par {
  margin: 0 0 8px 8px;
}

.random {
  text-align: center;
}

.legs {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 0 1 200px;
  align-items: center;
  justify-content: flex-start;
}

.buddy {
  height: 200px;
  width: 200px;
}

.knees {
  background-color: #E5E7EB;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style:italic;
  font-size: 36px;
  color: #1F2937;
  flex-wrap: wrap;
}

.quote {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.quotee {
  font-weight: bold;
  align-self: flex-end;
  font-size: 24px;
}

.call {
  background-color:#3882F6;
  color:#F9FAF8;
  margin: 50px;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 32px;
  border-radius: 4px;
  width: 60%;
}

.prompt {
  display: flex;
  flex-direction: column;
}

.prompt p {
  font-size: 16px;
}

.sbutton{
  border-color:#F9FAF8;
  max-width: 100px;
  margin: 8px;
  padding: 6px;
  background-color: #3882F6;
  color:#F9FAF8;
  font-weight: bold;
  border-radius: 4px;
}

.footer {
  background-color: #1F2937;
  color:#F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}